body {
    background-image: linear-gradient(to bottom, #484848, #3b3b3b, #2e2e2e, #222222, #161616);
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

nav ol {
    list-style-position: inside; /* Place the list numbers next to the list items */
    padding-left: 0; /* Remove the default left padding on the list */
}

h1 {
    font-size: 30px;
}

header {
    font-style: italic;
}

.pText {
    font-weight: lighter;
}

.lList {
    border: 1px solid white;
    border-radius: 15px;
    display: inline-block;/* Makes sure the box only goes to the end of the content and not the entire page */
    padding-right: 25px;/* Adds space so that the box is not touching the content */
}

.lList img {
    border-radius: 8px;
}

iframe {
    border: none;
    max-width: 100%;
}

a[href] {
    color: rgb(207, 207, 207);
}

a:hover {
    color: rgb(255, 255, 255);
    color: #8f8f8f;
}

main .youtubeLink {
    color: red;
}

.youtubeLink:hover {
    color: rgb(255, 88, 88);
}

.youtubeImg {
    border-radius: 90px;
}

table .fList {
    border-collapse: collapse; /* This ensures that adjacent table borders merge into one */
    font-size: 15px;
    width: 100%;
}

.fList th, .fList td {
    border: 1px solid white; /* Add borders to table cells (th and td) */
    padding: 8px; /* Add some padding for spacing */
    text-align: center; /* Adjust the text alignment as needed */
}

.fList tr:hover {
    background-color: #484848; /* Change the background color on hover for better visibility */
}

.fList {
    margin-left: auto;
    margin-right: auto;
}

/* Adjusted padding for smaller screens */
@media (max-width: 768px) {
    .fList {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.fList img {
    border-radius: 8px;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
    .fList {
      font-size: 12px;
    }
}

@media (max-width: 768px) {
    /* Reset some styles to create a vertical list */
    .fList {
      width: auto; /* Allow the table to expand with content */
    }
  
    .fList th,
    .fList td {
      display: block; /* Convert table cells to block elements */
      width: 100%; /* Take up the full width of the container */
      box-sizing: border-box; /* Include padding and border in width */
    }
  
    .fList th {
      font-weight: bold; /* Optionally make headers bold */
    }
  
    .fList tr {
      margin-bottom: 20px; /* Add space between list items */
    }
  
    /* Adjust font size for smaller screens */
    .fList {
      font-size: 12px;
    }
}
